<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
        {% block script %}
   {% endblock %}
    </head>
    <body>
<ul>
{% if role_id == 1 %}
  <li><a href="{{url_for('listUsers')}}">Users</a></li>
{% endif %}
{% if username is defined %}
  <li><a href="{{url_for('listPosts')}}">Posts</a></li>
  
  <li><a href="{{url_for('logout')}}">Logout</a></li>
  {% endif %}

{% if username is defined %}
<li>Welcome, {{username}}</li>
{% endif %}
</ul>
    {% block header %}

    {% endblock %}
        <div id="content" class="container">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
               
            {% endblock %}
        </div>
    
    </body>
    <style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li:last-child{
    display:block;
    padding: 14px 16px;
    text-align:center;
    color:green;
    float:right;
}
    {% block style %}
    {% endblock %}
    </style>
    
   
</html>