{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<form method='POST' action =''  enctype="multipart/form-data">
<div class="form-group">
<label>Username</label>
<input class="form-control" type="text" name="username">
</div>
<div class="form-group">
<label>Password</label>
<input class="form-control" type="password" name="password"></div>
<input type="submit" value="Log In">
<form>
<a class="btn" href="{{url_for('register')}}">Register</a>
{% endblock %}