{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<form id="register-form" method='POST' action =''  enctype="multipart/form-data" autocomplete="off">
<div class="form-group">
<label>Username</label>
<input id="username" class="form-control" type="text" name="username" required>
<span id='usernamemsg'></span>
</div>
<div class="form-group">
<label>First Name</label>
<input class="form-control" type="text" name="first_name" required>
</div>
<div class="form-group">
<label>Last Name</label>
<input class="form-control" type="text" name="last_name" required>
</div>
<div class="form-group">
<label>Password</label>
<input id='pass' class="form-control" type="password" name="password" required>
</div>
<div class="form-group">
<label>Repeat Password</label>
<input id="pass2" class="form-control" type="password" name="password2" required>
<span id='message'></span>
</div>
<div class="form-group">
<label>Email Address</label>
<input id="email" class="form-control" type="email" name="email" required>
<span id='emailmsg'></span>
</div>
<div class="form-group">
<input class="form-control" type="submit" value="Register" >
</div>
<a href='{{url_for('login')}}'>Log-In</a>
<form>

{% endblock %}
{% block script %}
<script>

$(document).ready(function(){
    const usernames = JSON.parse('{{usernames | json_encode  | raw}}')[0];
    const emails = JSON.parse('{{emails | json_encode  | raw}}')[0];
   $('#register-form').submit(function( event ) {
      if(jQuery.inArray($('#username').val(), usernames) > -1 || jQuery.inArray($('#email').val(), emails) > -1 || $('#pass').val() !== $('#pass2').val()){
            return false;
      }
  
});
$('#username').on('keyup', function () {
    if(jQuery.inArray($('#username').val(), usernames) > -1){
        $('#usernamemsg').html('Username is Taken').css('color','red');
        isValid = false;
    }else{
        $('#usernamemsg').html('');
    }
});
$('#email').on('keyup', function () {
 if(jQuery.inArray($('#email').val(), emails) > -1){
        $('#emailmsg').html('Email is Taken').css('color','red');
    }else{
        $('#emailmsg').html('');
    }
});
  $('#pass, #pass2').on('keyup', function () {
  if ($('#pass').val() == $('#pass2').val()) {
    $('#message').html('Matching').css('color', 'green');
  } else 
    $('#message').html('Not Matching').css('color', 'red');
});  
});

</script>
{% endblock %}