{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<form id="createform" method='POST'  enctype="multipart/form-data">
<div class="form-group">
<label>Title</label>
<input class="form-control" type="text" name="title">
</div>
<div class="form-group">
<label>Content</label>
<textarea class="form-control" name="content"></textarea></div>
<div class="form-group">
<label>Thumbnail</label>
<input class="form-control" type="file" name="image" accept="image/*"></div>
<div class="form-group">
<button id="sbmbtn" class="form-control">Publish</div>
<form>
<a id="allPosts" class="btn" href="{{ url_for("listPosts") }}">Back To List</a>
{% endblock %}
{% block script %}
<script> 
</script>
{% endblock %}