{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
{% for post in posts %}
<div class="card text-center" style="height:20em;">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <img src="{{post.img_path}}" style="width: 10em; heigth:10em; float:left;"></img>
    <p class="card-text" style="height: 80%; overflow:auto;">{{post.content}}</p>
  </div>
  <div class="card-footer text-muted">
    Posted By: <b>{{post.posted_by}}</b> On: <b>{{post.created_on}} 
   {% if role_id == 1 or post.posted_by == username %}
    <a class="btn btn-secondary" href="{{url_for('update_post',{"id":post.id})}}">Edit<a>
     <a class="btn btn-secondary" href="{{url_for('delete_post',{"id":post.id})}}">Delete<a>
    {% endif %}
    </b>
  </div>
</div>

{% endfor %}
   <a class="btn btn-primary" href="{{url_for("create_post",)}}">Create Post</a>
{% endblock %}
