{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<form method='POST' action =''  enctype="multipart/form-data">
<div class="form-group">
<label>Title</label>
<input class="form-control" type="text" name="title" value={{post.title}}>
</div>
<div class="form-group">
<label>Content</label>
<textarea class="form-control" name="content">{{post.content}}</textarea>
</div>
<div class="form-group">
<label>Thumbnail</label>
<input class="form-control" type="file" name="image" accept="image/*">
</div>
<input class="form-control" type="submit" value="Publish">
<form>
{% endblock %}