{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="card">
<div class="card-title">
{{post.title}}
</div>
  <img class="card-img-top" src="{{post.img_url}}">
  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
  </div>
  <div class="card-footer">
   Posted By: <b>{{post.posted_by}}</b>
   On: <b>{{post.created_on}} </b>
  </div>
</div>

{% endblock %}
{% block style %}
.card{
    margin:auto;
     width:70%;
     margin-top:10%;
     text-align:center;
}
.card-title{
background-color: gray;
padding:2%;
font-size: 30px;
}
.card-body{
    font-size:25px;
}
{% endblock %}