{% extends "layout.twig" %}

{% block title %}Users Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% set temp = users|first %}
    <table class='table table-striped'>
<tr>
{% for property_title in temp|keys %} 
    <td >{{ property_title }}</td>
{% endfor %}
<td>Actions</td>
</tr>
{% for item in users %}
    <tr>
        {% for field in temp|keys %}
            <td> {{ attribute(item, field) }}</td>
        {% endfor %}
        <td>
        {% if item.role_id != 1 %}
        <a id="del-btn" class="btn" href="{{url_for('delete_user',{"id":item.id})}}">Delete</a>
        {% endif %}
        <a class="btn" href="{{url_for('update_user',{"id":item.id})}}">Update</a>
        <a class="btn">View Posts</a>
        </td>
    </tr>
   
{% endfor %}
 <table>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
   $('#del-btn').on('click',function(event){
       event.preventDefault();
        confirm("Are you sure you want to delete a user?");
   }); 
});
  
</script>
{% endblock %}