{% extends "layout.twig" %}

{% block title %}Posts Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<h1>{{user.username}}</h1>
<form id="update-form" method='POST' action =''  enctype="multipart/form-data">
<div class="form-group">
<label>Username</label>
<input id="username" class="form-control" type="text" name="username" value="{{user.username}}" required>
<span id='usernamemsg'></span>
</div>
<div class="form-group">
<label>First Name</label>
<input class="form-control" type="text" name="first_name" value="{{user.first_name}}" required>
</div>
<div class="form-group">
<label>Last Name</label>
<input class="form-control" type="text" name="last_name" value="{{user.last_name}}" required>
</div>
<div class="form-group">
<label>Password</label>
<input id='pass' class="form-control" type="password" name="password" value="{{user.password}}" required>
</div>
<div class="form-group">
<label>Email Address</label>
<input id="email" class="form-control" type="email" name="email" value="{{user.email}}" required>
<span id='emailmsg'></span>
</div>
<div class="form-group">
<label>User Role</label>
<select name="role" class="form-control">
{% for role in roles %}
{% if role.role_id == user.role_id %}
<option value={{role.role_id}} selected>{{role.role_name}}</option>
{% else %}
<option value={{role.role_id}}>{{role.role_name}}</option>
{% endif %}

{% endfor %}
</select>
</div>
<div class="form-group">
<input class="form-control" type="submit" value="Update">
<form>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    const usernames = JSON.parse('{{usernames | json_encode  | raw}}')[0];
    const emails = JSON.parse('{{emails | json_encode  | raw}}')[0];
   $('#update-form').submit(function( event ) {
      if(jQuery.inArray($('#username').val(), usernames) > -1 || jQuery.inArray($('#email').val(), emails) > -1){
            return false;
      }
  
});
$('#username').on('keyup', function () {
    if(jQuery.inArray($('#username').val(), usernames) > -1){
        $('#usernamemsg').html('Username is Taken').css('color','red');
        isValid = false;
    }else{
        $('#usernamemsg').html('');
    }
});
$('#email').on('keyup', function () {
 if(jQuery.inArray($('#email').val(), emails) > -1){
        $('#emailmsg').html('Email is Taken').css('color','red');
    }else{
        $('#emailmsg').html('');
    }
});
 
});
</script>
{% endblock %}